#top-header{
    background: #333333 !important;
}

/*@media only screen and (min-width: 981px)*/
#logo {
    max-height: 70%;
}

#logo {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-bottom: 0;
    max-height: 54%;
    display: inline-block;
    float: none;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
}